/* FontServer.ir Vazir Font CDN */
@import url('https://v1.fontapi.ir/css/Vazir');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    direction: rtl;
    font-family: Vazir, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-class {
    background: url(../img/background.jpg) center center no-repeat;
    background-size: cover;
}

.container {
    min-width: 860px;
    margin: auto;
}

.clear-both {
    clear: both;
}

.login {
    background: white;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, .3) 0 0 0 10px;
    height: 600px;
    overflow: hidden;
}

.login-form {
    float: right;
    width: 50%;
    height: 100%;
    padding: 100px 0;
}

.login-logo {
    margin-bottom: 40px;
}

.login-logo img {
    margin: 0 auto;
    display: block;
}

.form-control {
    width: 250px;
    margin: 0 auto 15px;
}

.form-control input {
    font-family: inherit;
    font-weight: 300;
    display: block;
    width: 100%;
    background-color: white;
    color: #949494;
    border: #D9E3ED 1px solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    transition: .3s all;
}

.form-control input::placeholder {
    color: #C2C2C2;
    font-size: 16px;
}

.form-control input:focus {
    border-color: #774BBA;
    box-shadow: #774bba17 0 0 0 5px;
    outline: none;
    transition: .3s all;
}

.form-control label {
    color: #949494;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

.btn {
    font-family: inherit;
    width: 250px;
    background-color: #774BBA;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 10px;
    font-size: 16px;
    display: block;
    margin: 30px auto 0;
    cursor: pointer;
    transition: .3s all;
}

.btn:hover {
    background-color: #502d85;
    transition: .3s all;
}

.btn:focus {
    background-color: #502d85;
    transition: .3s all;
    box-shadow: #774bba17 0 0 0 5px;
}

.forget-password {
    margin-top: 40px;
    text-align: center;
}

.forget-password a {
    font-size: 14px;
    font-weight: 300;
    color: #ACACAC;
    text-align: center;
    text-decoration: none;
}

.forget-password a:hover {
    color: #777777;
    text-decoration: underline;
}

.login-img {
    float: left;
    height: 100%;
    width: 50%;
}

.login-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
